body{
    background-color: #e3bfe5;
}

h1{
    color: yellow;
    border: 2px solid green;
    padding: 30px;
    margin: 50px;
}

p{
    color: black;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }